{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record is defined %}

        <!-- Hero Content Start -->
        <section class="hero-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-content">
                            <h1>{{ record.title }}</h1>
                            {{ record.teaser }}
                            <a href="#about_area" class="btn-bg">À propos</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Content End -->

        <!-- About Section Start -->
        <section class="about-section section-padding" id="about_area">
            <div class="container">
                <div class="row align-items-center">
                    <!-- About Left Content -->
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            {{ record.content }}
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <!-- About Right Image -->
                    <div class="col-lg-5 col-md-12">

                        <div class="about-image-wrap aos-animate" data-aos="slide-down" data-aos-duration="2500">
                            <img src="{{ record.image|image }}" alt="{{ record.title }}">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End -->

    {% endif %}

    <!-- Blog Page Section Start -->
    <section class="blog_page_section" id="portfolio_area">
        <div class="container">
            <div class="blog_header">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Projets</h2>
                    </div>
                </div>
            </div>
            <div class="blog_content_inner">
                <div class="row blog_list">
                    {% setcontent projets = 'projets' %}
                    {% for projet in projets %}
                    <div class="col-md-4 blog_item">
                        <div class="single_blog">
                            <img src="{{ image(projet.image, 500, 300) }}" alt="">
                            <div class="single_blog_content">
                                <h4 class="blog-title"><a href="{{ projet.projectlink }}" target="_blank">{{ projet.title }}</a></h4>
                                <div class="single-blog-bottom">
                                    <span class="date">{{ projet.date }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Page Section End -->

    <!-- Contact Section Start -->
    <section class="contact_section" id="contact_area">
        <div class="container">
            <div class="contact_inner">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="contact_left">
                            <h4>Contact</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="contact_right">
                            {{ boltforms('contact') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

{% endblock main %}
