<footer>
    <p>Copyright © Alexis Raphaeloff 2020</p>
</footer>

<!-- All Plugins -->
<!-- jQuery js -->
<script src="{{ asset('js/jquery-1.12.4.min.js', 'theme') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('js/bootstrap.min.js', 'theme') }}"></script>
<!-- SlickNav JS -->
<script src="{{ asset('js/jquery.slicknav.min.js', 'theme') }}"></script>
<!-- jQuery One Page Nav JS -->
<script src="{{ asset('js/jquery-one-page-nav.js', 'theme') }}"></script>
<!-- jQuery Skill Bar JS -->
<script src="{{ asset('js/skill.bars.jquery.js', 'theme') }}"></script>
<!-- Isotope JS -->
<script src="{{ asset('js/isotope.pkgd.min.js', 'theme') }}"></script>
<!-- Slick JS -->
<script src="{{ asset('js/slick.min.js', 'theme') }}"></script>
<!-- Aos Animation JS -->
<script src="{{ asset('js/aos.min.js', 'theme') }}"></script>
<!-- LucidScroll Scrolling JS -->
<script src="{{ asset('js/lucid.js', 'theme') }}"></script>
<!-- Main JS -->
<script src="{{ asset('js/main.js', 'theme') }}"></script>
