<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">

<head>
    <meta charset="utf-8">

    <!-- Responsive Meta -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#
    make sure we always display a proper title: The record's title if there is one, appended with the sitename.
    If there is no title, we append the sitename with the payoff, if there is one.
    #}
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
        {{ config.get('general/sitename') -}}
        {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
    </title>

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ asset('images/fav.png', 'theme') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('images/fav.png', 'theme') }}" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/slicknav.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/aos.min.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/slick-theme.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css', 'theme') }}">
    {% block headincludes %}
    {% endblock headincludes %}
</head>

<body>

{% block main %}

{% endblock %}

{{ include('partials/_footer.twig') }}

{% block bottomincludes %}
{% endblock bottomincludes %}

</body>

</html>